<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.mapper.StudentMapper">

    <!-- 结果映射：告诉MyBatis如何把数据库字段转换成Java对象属性 -->
    <resultMap id="BaseResultMap" type="org.example.entity.Student">
        <id column="id" property="id"/>
        <result column="stu_no" property="stuNo"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="sex" property="sex"/>
        <result column="class_id" property="classId"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 根据姓名模糊查询 -->
    <select id="selectByName" resultMap="BaseResultMap">
        SELECT id, stu_no, name, age, sex, class_id, create_time
        FROM student
        <where>
            <if test="name != null and name != ''">
                name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
    </select>

    <!-- 添加学生数据 -->
    <insert id="addStudent" useGeneratedKeys="true" keyProperty="id">
        insert into student(stu_no, name, age, sex, class_id)
        values(#{stuNo},#{name},#{age},#{sex},#{classId})
    </insert>
    <!-- 修改学生数据 -->
    <update id="updateStudent">
        update student
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="classId != null">
                class_id = #{classId}
            </if>
        </set>
        where id = #{id}

    </update>

    <!-- 批量删除-->
    <delete id="deleteStudent">
        delete from student where id
        in
        <foreach collection="ids" item="id" separator="," open="(" close=")" >
            #{id}
        </foreach>

    </delete>

</mapper>